/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   
html, body {
	background: url('../img/erebor-mask2.png') no-repeat center center #0A0400;
	background-size: 60% !important;
	background-attachment: fixed;
	color: #f0f0f0;
	height: 100%;
	font-family: "Oswald", Arial, Helvetica;
	font-weight: 300;
	font-size: 1em;
}

section { 
	position: relative; 
	padding-top: 100px;
	margin: 0;
}

footer {
	font-family: Helvetica;
	font-size: 0.6em;
}

/* bootstrap customization */
.btn { border-radius: 0px; }
#navbar { 
	background: rgba(0,0,0,0.65); 
	min-height: 100px; 
	padding-top: 25px;
	top: -100px; 
}
#navbar { 	transition: top 0.5s linear 0s; }
.jumbotron { background: rgba(0,0,0,0); margin-bottom: 0;  }


/* Custom font types */
.firstorder {	font-family: "FirstOrderPlain", Arial, Helvetica; }
.hobbit { 	font-family: "FirstOrderRegular", Arial, Helvetica; }




/*** Carousel ***/
#erebor-estilos { padding: 0; }
#featured-brews { 
	padding: 0; 
	height: 100%
}

.estilo {
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 1.5em;
}
.rauch-stout {
	background-image: url('../img/stout.jpg');
}
.irish-red {
	background-image: url('../img/irish_red.jpg');
	background-position: left top;
	color: #5B0505;
}
.ipa {
	background-image: url('../img/ipa.jpg');
	background-position: left top;
	color: #fff;
}
.golden-ale {
	background-image: url('../img/golden.jpg');
	background-position: center;
	color: #260E03;
}
.estilo h1 { font-family: "FirstOrderRegular"; font-size: 3em; }




/* backgrounds */
.full-height {
	height:100%;
    min-height:600px;
}
.bg { 
	height: 600px; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-hop {	background: url('../img/dsc00491.jpg') no-repeat;}
.bg-white { background: #fff; }
.bg-lanin {	background: url('../img/laninatardecer_big.jpg') no-repeat; }
.bg-map-erebor {	background: url('../img/map_erebor.jpg') no-repeat;}
.bg-translucid {	background-color: rgba(0,0,0,0.2); }
.bg-mask { 
	background: url('../img/erebor-mask2.png') no-repeat center center;
	background-size: 60% !important;
}


/* Responsive behaviors */
@media screen and (orientation: portrait) { 	/* phone portrait */
	.estilo {	background-size: auto 100%;}
	.estilo h1{	font-size: 2em; }
} 
/*@media screen and (orientation: landscape) {		/* landscape */
@media(max-height: 600px){ 
	.bg, .fullheight { min-height: 400px; height: inherit; }
	#navbar { min-height: 0px; padding-top: 0px; }
}
@media(min-height: 600px){
	.bg, .fullheight { min-height: 720px; height: inherit; }
}
@media(min-height: 700px){
	.bg, .fullheight { min-height: 800px; height: inherit; }
}
@media(min-height: 900px){
	.bg, .fullheight { min-height: 980px; height: inherit; }
}





.call-to-action:hover {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow:    0px 0px 20px 0px rgba(255, 255, 255, 0.5);
	box-shadow:         0px 0px 20px 0px rgba(255, 255, 255, 0.5);
	background-color: rgba(0,0,0,0.5);
	text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
}

.call-to-action {
	-webkit-box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow:    inset 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
	box-shadow:         inset 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
	border: 10px solid;
	border-color: #fff;
	padding: 25px;
	margin: 10% auto;
	color: #fff;
	display: inline-block;
	font-size: 4em; 
}


.btn-slide-down {
	position: absolute;
	left: 50%;
	bottom: 100px;
	
	margin: 0;
	margin-left: -30px;
	border-radius: 100%;
	
	padding: 0;
	width: 60px;
	height: 60px;

	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	
	font-size: 1.4em;
	
	background: #ccc;
	color: #666;
}

.btn-trans {
    opacity: 0.4;
    text-decoration: none;
    transition: opacity 0.4s linear 0s;
}

.btn-trans:hover,
.btn-trans:focus,
.btn-trans:active,
.btn-trans:visited
	{ color: #666; opacity: 0.7; }
	

.btn-iso {
	margin-left: -20px !important;
	width: 40px !important;
	height: 40px !important;
	border-radius: 0%;
}
.isometric { 
	transform: rotateZ(45deg); 
	-webkit-transform: rotateZ(45deg); 
	padding: 0px;
	margin: 0;
	vertical-align: middle;
	background: #ccc;
}
.isometric i { 
	transform: rotateZ(-45deg);
	-webkit-transform: rotateZ(-45deg);
}


.btn-social:hover {
	background: rgba(0,0,0,0);
	color: #BA5A1F;
    transition: background-color 0.4s ease-out 0s;
}

.btn-social {
	border: 10px solid #BA5A1F;
	background-color: #BA5A1F;
	border-radius: 50%;
	color: #000;
	display: inline-block;
	font-size: 1.4em;
	vertical-align: middle;
	text-align: center;
	padding: 0px;
	min-width: 55px;
	min-height: 55px;
	margin-bottom: 10px;
}
